bin/dist
node_modules
tags
**/*.js.map
**/*.metadata.json

/hooks

/nativescript-angular/**/*.d.ts
/nativescript-angular/**/*.js

!/nativescript-angular/global.d.ts
!/nativescript-angular/postinstall.js
!/nativescript-angular/hooks/**/*.js
!/nativescript-angular/gulpfile.js
!/nativescript-angular/zone-js/**/*.js

.tscache
.nvm
.vscode
.DS_Store
npm-debug.log
nativescript-angular*.tgz

Groceries/app/**/*.js
Groceries/app/global.d.ts
Groceries/platforms
Groceries/lib
Groceries/hooks
Groceries/node_modules
Groceries/app/App_Resources


conference/app/**/*.js
conference/platforms
conference/hooks
conference/node_modules

HelloWorld
opt
rps-conf
sample-Groceries
item
quitar
rps-conf**
hax**
*.zip
demo