/* Page */
Page {
    background-color:#e4ba4e;
}

.page-header {
    background-image: url('res://background');
    background-size: cover;
}

.page-title {
    font-size: 14;
    color: #fac950
}

.bold {
    font-weight: bold;
}

.icon-image {
    vertical-align: center;
    horizontal-align: left;    
}

.favourite-wrap {
    horizontal-align: left;
    vertical-align: top;
    padding: 12;
    margin-right: 16;
}

.info {
    font-size: 14;
    color: #555555;
}

.info-bigger {
    color: #555555;
    font-size: 17;
    margin: 0;
}

.info-orange {
    font-size: 12;
    color: #A17201;
    margin: 0;
}

.break-row {
    padding: 12;
    background-color: #FFFBF0;
}

.list-view-row {
    padding: 12 12 12 0;
}